* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* backToTop */
#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(204, 199, 199);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* Header */
header {
  width: 100%;
  min-height: 85px;
  padding:15px 0;
  margin: 0 0 10px 0;
  position: sticky;
  top: 0;
  z-index: 9;
  background: white;
}

/* Navbar */
.wrapper {
  max-width: 1215px;
  min-height: 85px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
}



.navigation .logo {
  position: relative;
  display: flex;
  width: 170px;
}

.navigation .logo a{
  display:block;
}

.navigation .logo a img{
  height: auto;
  width: 150px;


}

.navigation{
  position: relative;
  display: flex;
  width: calc(100% - 170px);
  margin-top: 5px;
  align-items: center;
}

.navbar {
  display: flex;
  height: 100%;
  padding: 0;
  width: 55%;
}

.main-header-bar-navigation {
  display: flex;
  height: 100%;
}


.main-header-bar-navigation>ul>li {
  list-style: none;
  display: inline-flex;
  margin-right: 40px;
  height: 100%;
  align-items: center;
}

.main-header-bar-navigation>ul>li>a span{
  color: #333333;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
}

.main-header-bar-navigation>ul>li>a span:hover{
  color:#bb21ab;
  border-bottom: 2px solid #bb21ab;
}

.nav-item a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.main-header-bar-navigation ul li a::after {
  height: 3px;
  content: "";
  border-radius: 3px;
}

.nav-link i.fa-chevron-left {
  float: left;
  margin-right: 20px;
  display: none;
}

.nav-link i.fa-chevron-right {
  float: right;
  display: none;
  font-size: 8px;
}

.main-header-bar-navigation>ul>li>.sub-menu .nav-link i.fa-chevron-right {
  padding-top: 6px;
  display: block;
}



.right-menu {
  display: flex;
  width: 55%;
  float: right;
  padding-left: 100px;
}

.right-menu li {
  list-style: none;

  padding-right: 20px;
}

.right-menu  .nav-item a span{
  color: #333333;
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
}
.right-menu  .nav-item a span:hover{
  color:#bb21ab;
  border-bottom: 2px solid #bb21ab;
}

.right-menu li .btn-purple {
  font-family: "MaaxRoundedTrial", "Arial";
  font-size: 16px;
  font-weight: bold !important;
  text-transform: uppercase;
  background-color: #bb21ab;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 40px 10px 40px;
  border: 2px solid #bb21ab;
  transition: all .3s ease;
  text-decoration: none;
  transition:all 0.7s
}
.right-menu li .btn-purple:hover{
  transform:scale(1.2)
}

.main-header-bar-navigation>ul>li>.sub-menu>li>.sub-menu {
  top: 0;
  right: 0;
  width: 507px;
  height: 300px;
  position: absolute !important;
  overflow: hidden;
  left: 250px;
  padding: 45px 0 50px;
  background: #fff;
  margin: 0;
  box-shadow: inset 7px 0 9px -7px #00000029, 3px 2px 4px 0px rgb(0 0 0 / 5%);
  border-radius: 0;
}

.main-header-bar-navigation>ul>li.side-menu {
  position: static;
}

.main-header-bar-navigation>ul>li:hover>.sub-menu{
  display: block;
}

.main-header-bar-navigation .sub-menu .side-menu {
  margin-left: 65px;
}

.main-header-bar-navigation .side-menu .main-menu{
  color:#333333;
}

.main-header-bar-navigation .side-menu .main-menu span{
  color:#555;
  font-size: 12px;
}

.main-header-bar-navigation>ul>li.side-menu>.sub-menu {
  background: white linear-gradient(
  114deg, rgba(46, 49, 145, 0.05) 0%, rgba(81, 44, 151, 0.05) 30%, rgba(172, 34, 168, 0.05) 40%, rgba(187, 33, 171, 0.05) 50%) 0% 0% no-repeat padding-box;
  height: 740px;
}


.main-header-bar-navigation>ul>li>.sub-menu {
  display: none;
  position: absolute;
  top: 80px;
  height: 300px;
  margin-left: 150px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 45.75px 31px;
  background: white linear-gradient(
  114deg, rgba(46, 49, 145, 0.05) 0%, rgba(81, 44, 151, 0.05) 28%, rgba(172, 34, 168, 0.05) 91%, rgba(187, 33, 171, 0.05) 100%) 0% 0% no-repeat padding-box;
  /* min-width: 225px;
  max-width: 245px; */
  left: 0;
  z-index: 9;
  border-radius: 0px;
}

.main-header-bar-navigation>ul>li>.sub-menu .nav-item {
  list-style: none;
  text-decoration: none;
  color:black;
  font-weight: 600;
}

.main-header-bar-navigation>ul>li>.sub-menu .nav-item :hover,
.main-header-bar-navigation>ul>li>.sub-menu .fa-chevron-right:hover{
  color: #bb21ab;
}

.nav-item a::before {
  display: block;

  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.main-header-bar-navigation ul li a::after {
  height: 3px;
  content: "";
  border-radius: 3px;
}


.nav-link i.fa-chevron-left{
    display: none;
    font-size: 8px;
}

#main-header .wrapper .toggle {
  display:none;
}

/* Respon Nav */
@media (max-width: 972px){
  #main-header .wrapper {
    padding: 10px 20px;
  }
  .logo {
    max-width: 110px;
    padding: 0;
  }
}

@media only screen and (max-width: 748px){
  .logo{
    height:46px;
    margin-left: -60px;
    padding-right: 350px;
    margin-bottom: 20px;
    text-align: center;
  }
  .navigation{
    display:flex;
    position: relative;
  }
  .navigation .navbar{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
  }

  #main-header .wrapper{
    border-bottom:2px solid #ccc;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  #main-header .wrapper .navigation{
    flex-direction: column;
  }
  
  .navbar-nav .nav-item .sub-menu {
    width:100%;
  }

  .main-header-bar-navigation>ul>li>.sub-menu {
    display: none;
    flex-direction: column;
  }

  .navbar-nav{
    position: absolute;
    text-align: center;
    width:100%;
    background-color: #fff;
    transition:all 0.8s cubic-bezier(0.68,-0.55,0.256,1.55)
  }

  .navbar-nav .nav-item .nav-link{
    justify-content:space-around;
  }

  .nav-item{
    justify-content:space-between;
  }
  .nav-link {
    float: left;
  }

  .nav-link i.fa-chevron-right{
    display:block;
    line-height: 30px;
    float:right;
  }

  .navbar-toggler.collapsed {
    background-color: transparent;
  }

  
  .navbar-toggler.collapsed + .navbar-toggler::before{
    top: 0;
    transform:rotate(135deg)
  }

  .navbar-toggler.collapsed + .navbar-toggler::after{
    top: 0;
    transform:rotate(-135deg)
  }

}

/* Toggle */
@media only screen and (max-width: 748px) {
  #main-header .wrapper .toggle{
    display:block;
  }
  .navigation {
    position: relative;
  }
  
  .navigation__checkbox {
    display: none;
  }
  
  .navigation__button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color:#000000;
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .navigation__nav {
    flex-direction: column;
    height: 130vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
  }
  .navigation__list {
    margin-top: -70px;
    background-color: white;
    justify-content:space-between;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .navigation__list li{
    border-bottom: 1px solid #afabab;
    cursor: pointer;
  }
  
  .navigation__link {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 20px 0;
    text-decoration: none;
  }  
  .navigation__link:hover {
    color: #bb21ab;
  }

  .navigation__link i.fa-chevron-right{
    font-size: 10px;
    line-height:40px;
  }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }


  .submenu__checkbox {
    display:none;
    width:100%;
  }


  .our-dropdown {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 20px 0;
    text-decoration: none;
  }  

  .sub-toggle-menu {
    margin-top: -40px;
    background-color: white;
    justify-content:space-between;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    visibility: hidden;
    width: 100%;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
  }

   .submenu__checkbox:checked ~ .sub-toggle-menu{
    visibility:visible;
    width:100%;
  }

  .navigation__icon {
    position: relative;
    margin-top: 35px;
  }
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 30px;
    height: 2px;
    background: #000000;
    display: inline-block;
  }
  .navigation__icon::before,
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -10px;
  }
  .navigation__icon::after {
    top: 10px;
  }
  .navigation__button:hover .navigation__icon::before {
    top: -12px;
  }
  .navigation__button:hover .navigation__icon::after {
    top: 12px;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background: transparent;
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

  /* bottom-menu-toggle */
  .bottom-toggle{
    margin-top: 80px;
    padding-top: 20px;
    background-color: #333333;
  }

  .bottom-toggle .btn-purple{
  font-family:  "Arial";
  font-size: 16px;
  font-weight: bold !important;
  text-transform: uppercase;
  background-color: #bb21ab;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 40px 10px 40px;
  border: 2px solid #bb21ab;
  text-decoration: none;
  }


  .bottom-menu{
    margin: 30px 0;
    display: flex;
    list-style: none;
    justify-content:center
  }
  .bottom-menu .nav-item .nav-link{
    text-decoration: none;
    color:#fff;
    font-weight: 600
  }

  .bottom-menu .nav-item .nav-link:hover{
    color:#bb21ab
  }
}



/* See World Flow */
.swf {
  padding-top: 90px;
}

.swf .text h1{
    color: #000000;
    font-family: "Montserrat-ExtraBold", "Arial", Sans-Serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 82px;
}

.swf .content p {
  color: #555555;
}

.swf .row img {
  margin-left: 25px;
  vertical-align: middle;
  display: inline-block;
  width:419px;
  height: 315px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.choose {
  list-style: none;
}


.solutions {
  padding-top: 40px;
}

.solutions .btn-2{
  /* display: inline-block; */
  line-height: 1;
  font-family:  "Arial", Sans-Serif;
  font-size: 15px;
  font-weight: bold;
  fill: #BB21AB;
  color: #BB21AB;
  background-color: #ffffff;
  border-style: solid;
  border-color: #BB21AB;
  border-radius: 8px;
  width:max-content;
  text-align: center;
  padding: 12px 20px ;
  transition: all 0.3s;
  margin-left: 55px;
}

.solutions .btn-1{
  /* display: inline-block; */
  line-height: 1;
  font-family:  "Arial", Sans-Serif;
  font-size: 15px;
  font-weight: bold;
  fill: #BB21AB;
  color: #BB21AB;
  background-color: #ffffff;
  border-style: solid;
  border-color: #BB21AB;
  border-radius: 8px;
  width:max-content;
  text-align: center;
  padding: 12px 21px ;
  transition: all 0.3s;
}


.solutions button:hover{
  background-color: #BB21AB;
  color:white;
}

@media only screen and (max-width: 748px) {
  .swf{
    margin-top: -50px;
  }

  .swf .text h1{
    font-size: 40px;
  }

  .swf .text h1,p{
    padding: 1px 20px;
    text-align: center;
  }
  .solutions .choose{
    flex-direction: column;
    text-align: center;
  }
  .solutions .btn-chose{
    width:calc(100% - 40px);
    text-align: center;
  }

  .solutions .btn-2{
    margin-left: -5px;
  }

  .solutions .choose li {
    padding :20px 0;
  }

  

}

/* Feartured */

.featured {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;

}
.featured p {
  padding-bottom: 10px;
  color: #555555;
}

.featured .items {
  text-align: center;
  justify-content: center;

}


.featured .items img{
  width:80px;
  filter: grayscale(100%);
}

.featured .item img:hover{
  transform: scale(1.5);
  filter: grayscale(0);
}

@media only screen and (max-width: 748px){
  .featured .items img {
    width:50px;
  }
}


/* Chart */
.chart {
  padding-top: 30px;
  background-color: #fff7fe;
  width: 100%;
}

.chart p {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.chart .btn-find{
  display:none;
}

.right-chart{
  margin-left: 50px;
}

.right-chart .icon-chart{
  padding: 15px 0;
}

.right-chart .icon-chart{
  display:flex;
  
}

.right-chart .icon-chart  img{
  width:50px;
}

.right-chart .icon-chart  img:hover{
  transform: scale(1.2);
  cursor: pointer;
  color: #bb21ab;
}


.right-chart .icon-chart p{
  padding-left: 20px;
  font-size: 12px;
  color:#999999;
  justify-content: left;

}

.right-chart .icon-chart .pink{
  color: #bb21ab;
}

.left-chart {
  margin-left: 60px;
}

.left-chart img {
  width: 550px;
  height: 370px;
  padding-bottom: 20px;
}

.left-chart img:hover{
  transform: scale(1.1);
}

.left-chart span {
  margin-left: 40px;
  font-weight: 600;
  font-size: 14px;
}
/* Responsive Chart */
@media only screen and (max-width: 748px) {
  .chart {
    margin-bottom: 50px;
  }
  .chart .left-chart span{
    overflow: hidden;
  }

  .chart .left-chart img{
    width:400px;
    text-align: center;
  }

  .chart .left-chart{
    margin:0 40px;
    
  }

  .chart .left-chart span{
    margin:0 10px;
  }

  .chart .right-chart{
    padding-top: 20px;
    margin-left: 20px;
  }

  .chart .btn-find{

    margin:20px 25% 0;
    display:block;
  background-color: #bb21ab;
  color: #fff;
  font-weight: 600;
  padding: 15px 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  }

  .right-chart .icon-chart p{
    display: none;
  }

  .right-chart ul{
    display :flex;
  }

  .right-chart ul li{
    padding-left: 5px;
    margin: 0 10px;
  }
}


/* Do More With */
.do-more-with {
  margin-top: -50px;
  margin-bottom: 200px;
}
.do-more-with img{
  width:100%;
  height:1048px;
}

.doMoreWith {
  margin-top: -800px;
}
.doMoreWith h1 {
  text-align: center;
  color: white;
  font-weight: 800;
}

.doMoreWith .title {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.doMoreWith .amount li {
  list-style: none;
}

@media only screen and (max-width: 748px){
  .do-more-with{
    z-index: 1000;
  }
  .do-more-with img{
    height: 970px;
  }
  .doMoreWith .amount .btn-amount{
    width: 90px;
    height:90px;
    margin-left:40%;
    font-size: 14px;
    
  }
  .doMoreWith .amount p{
    padding-right: 50px;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
  }

  .doMoreWith .amount li{
    margin-top: -70px;
  }
}

.btn-amount {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 8px solid white;
  background-color: #ae20ab;
  color: white;
  font-size: 34px;
  font-weight: 600;
}

.amount li p {
  padding-left: 50px;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  color: white;
}

/* Form Register */

.form {
  position: relative;
  margin-top: -60px;
  height:auto;
  background-color: #FFF7FE;
}

.form-input{
  width:100%;
  position: relative;
}

.form .image-left{
  width: 516px;
  height:516px;
}


.register{
  padding-top:150px;
}
.register h1 {
  font-weight: 800;
  text-align: center;
}

.register p {
  font-weight: 600;
  text-align: center;
}

.form-register{
  position:absolute;
}

/* .form-input{
  margin-bottom: 60px;
} */

.form-input p{
  float:left;
}

.form-input input,
select {
  width: 300px;
  padding: 5px 15px;
  margin: 3px 0;
  /* display: inline-block; */
  border: 1px solid #cbd6e2;
  border-radius: 10px;
  border:none;
  box-sizing: border-box;
  /* margin-bottom: 20px; */
}

.form-input input::after{
  border:none;
}

.form-input span{
  position:absolute;
  transition:.3s;
}

.form-input input:focus ~ span {
  width: 100%;
}

.form-input.error small{
  color:red;
}

.form-register .btn-submit {
  width: 100%;
  background-color: #bb21ab;
  color: white;
  font-weight: 600;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-input label {
  font-weight: 600;
  border: none;

}
/* Responsive Form Register */
@media only screen and (max-width: 748px) {
  
  .register{
    background-color: #FFF7FE;
  }
  .register h1,p{
    padding: 20px 10px;
  }

  .form{
    margin-top: -180px;
    height:1400px;
  }
  .form-register{
    margin-top: 30px;
  }
  .form-input{
    margin-top: -30px;
  }
  .form-input p{
    margin-bottom: -10px;
    margin-right: 60%;
  /* float: left !; */
    width:-webkit-fill-available;
  }

  .form .image-left{
    margin-left: 15%;
    width:300px;
    height:300px;
  }

  .form-input input,select{
    padding: 5px 10px;
    margin: 20px 0px;
    border: 1px solid #cbd6e2;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    width: -webkit-fill-available;
}

.form-input.error small{
  color:red;
  text-align: center;
}

  .form-register{
    z-index: 10;
    margin-bottom: 100px;
  }
  
}

/* Footer */

footer {
  width: 100%;
  background-color: #333333;
}

footer h3{
  padding-bottom: 20px;
}

footer h3,
li {
  color: white;
}
footer li {
  cursor: pointer;
  padding-bottom: 10px;
}

footer li:hover {
  color:#bb21ab
}

.social {
  background: linear-gradient(120deg, #2e3191, #bb21ab);
}

footer .social-icon {
  padding-left: 100px;
  line-height: 30px;
}

.social-icon ul{
  list-style: none;
  display:flex;
}

.social-icon ul li a{
  margin:0 25px
}

.social-icon img{
  width: 25px;
  height:25px;
}

@media only screen and (max-width: 748px) {
  footer{
    margin-top:250px;
  }
  .social ul li{
    text-align: center;
  }

  footer .social{
    width: 100%;
  }

  .social-icon ul{
    float: left;
  }

  footer .social-icon ul li a img{
    width: 20px;
    
  }
}



