* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header {
  margin-top: 20px;
  position: relative;
  display: flex;
}

header nav .logo{
  width:156px;
  height:66px;
}

nav .toggle{
  color: #000000;
  display: none;
  justify-content: space-between;
  
}

header nav .openMenu {
  color:black;
}




.left-menu {
  padding-left: 80px;
}

header .nav-item .active {
  color: #bb21ab;
  border-bottom: 2px solid #bb21ab;
}
header .nav-item .nav-link {
  color: black;
  font-weight: 600;
}

header .nav-item .btn-demo {
  padding: 10px 40px;
  background-color: #bb21ab;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

header .right-menu .drop-1 a:hover,
header .right-menu .drop-2 a:hover{
  text-decoration: none;
}

header .right-menu .drop-1 i{
 float: right;
 margin-left: 20px;
 cursor: pointer;
}

header .right-menu .drop-1 {
  padding: 20px 60px 20px;
  background:linear-gradient(120deg,#FFFFFF ,#F6EAF5)
}

header .right-menu .drop-2{
  margin-left: 35%;
}

header .right-menu .drop-2 {
  padding: 20px 60px 20px;
  background:linear-gradient(120deg,#FFFFFF ,#F6EAF5)
}

@media only screen and (max-width: 1048px) {
  header nav .toggle{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* header .logo{
    display:inline-block;
  } */

  header nav .mainMenu {
  margin-top: 40px;
  display: none;
} 

  header nav .mainMenu li a{
    display: inline-block;
    padding-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }

  header nav .mainMenu li a:hover{
    background-color: #bb21ab;
    color: white;
  }

  header nav .mainMenu li  i{
    float: right;
  }

  header nav .closeMenu {
    padding-top: 20px;
    text-align: center;
  }

  header nav .closeMenu a{
    color: black;
    font-size: 20px;
  }

  header nav .toggle{
    display:block;
    padding-left: 80%;
  }

  header nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display:none;
    cursor: pointer;
  }

  header nav .openMenu a{
    color:black;
  }

  header nav .mainMenu  {
    position:absolute;
    top: 20px;
    right:50px;
    left:50px;
  }

  header nav .openMenu{
    display: block;
  }

  header .navbar-nav{
    display:none;
  }
}



.dropdown-menu li a{
  font-weight: 600;
  color: black;

}

.swf {
  padding-top: 90px;
}

.swf .content p {
  color: #555555;
}

.swf .row img {
  width:450px;
  height: 446px;
}

.choose {
  list-style: none;
}

.solutions {
  padding-top: 40px;
}

.solutions .btn-chose1,.btn-chose2 {
  color: #bb21ab;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #bb21ab;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
}
.solutions .btn-chose3 {
  color: white;
  background-color: #bb21ab;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
}

@media only screen and (max-width: 600px) {
  .swf .text h1,p{
    padding: 20px 20px;
    text-align: center;
  }

  .solutions button{
    text-align: center;
    /* margin-left: 25%; */
    margin: 20px 25% 0;
  }

  .solutions .btn-chose2{
    margin-left: 35%;
  }
  .solutions .btn-chose3{
    margin-left: 30%;
  }
}

.featured {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;

}
.featured p {
  padding-bottom: 10px;
  color: #555555;
}

.featured .items {
  text-align: center;
  justify-content: center;
}


.featured .items img{
  width:80px;
}

.featured .item:hover{
  transform: scale(1.5);
}

@media only screen and (max-width: 600px){
  .featured .items img {
    width:50px;
  }
}


.chart {
  padding-top: 30px;
  background-color: #fff7fe;
  width: 100%;
}

.chart p {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.chart .btn-find{
  display:none;
}

.right-chart{
  margin-left: 80px;
}

.right-chart .icon-chart{
  padding: 15px 0;
}

.right-chart .icon-chart{
  display:flex;
  
}

.right-chart .icon-chart img{
  width:50px;
}

.right-chart .icon-chart img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.right-chart .icon-chart p{
  padding-left: 20px;
  font-size: 12px;
  color:#999999;
  justify-content: left;

}

.right-chart .icon-chart .pink{
  color: #bb21ab;
}

.left-chart {
  margin-left: 60px;
}

.left-chart img {
  width: 550px;
  height: 370px;
  padding-bottom: 20px;
}

.left-chart img:hover{
  transform: scale(1.1);
}

.left-chart span {
  margin-left: 40px;
  font-weight: 600;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .chart {
    margin-bottom: 50px;
  }
  .chart .left-chart span{
    overflow: hidden;
  }

  .chart .left-chart img{
    width:400px;
    text-align: center;
  }

  .chart .left-chart{
    margin:0 40px;
    
  }

  .chart .left-chart span{
    margin:0 10px;
  }

  .chart .right-chart{
    padding-top: 20px;
    margin-left: 20px;
  }

  .chart .btn-find{

    margin:20px 120px 0;
    display:block;
  background-color: #bb21ab;
  color: #fff;
  font-weight: 600;
  padding: 15px 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  }

  .right-chart .icon-chart p{
    display: none;
  }

  .right-chart ul{
    display :flex;
  }

  .right-chart ul li{
    padding-left: 5px;
    margin: 0 10px;
  }
}

.do-more-with {
  margin-top: -50px;
  margin-bottom: 200px;
}
.do-more-with img{
  width:100%;
  height:1048px;
}

.domorewith {
  margin-top: -800px;
}
.domorewith h1 {
  text-align: center;
  color: white;
  font-weight: 800;
}

.domorewith .title {
  text-align: center;
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.domorewith .amount li {
  list-style: none;
}

@media only screen and (max-width: 600px){
  
  .do-more-with img{
    height: 970px;
  }
  .domorewith .amount .btn-amount{
    width: 90px;
    height:90px;
    margin-left:40%;
    font-size: 14px;
    
  }
  .domorewith .amount p{
    margin-right: 10px;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
  }

  .domorewith .amount li{
    margin-top: -70px;
  }
}

.btn-amount {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: #ae20ab;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.amount li p {
  
  padding-top: 20px;
  text-align: center;
  color: white;
}

.form {
  margin-top: -220px;
  height:900px;
  background-color: #FFF7FE;
}

.form .image-left{
  width: 516px;
  height:516px;
}

.register{
  padding-top:150px;
}
.register h1 {
  font-weight: 800;
  text-align: center;
}

.register p {
  font-weight: 600;
  text-align: center;
}



.form-register input,
select {
  width: 100%;
  padding: 5px 15px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-register .btn-submit {
  width: 100%;
  background-color: #bb21ab;
  color: white;
  font-weight: 600;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-register label {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .register h1,p{
    padding: 20px 10px;
  }

  .form{
    margin-top: -200px;
  }

  .form .image-left{
    margin-left: 15%;
    width:300px;
    height:300px;
  }

  .form-register{
    width:500px;
    z-index: 10;
    margin-bottom: 100px;
  }
  
}

footer {
  width: 100%;
  background-color: #333333;
}

footer h3,
li {
  color: white;
}
footer li {
  padding-bottom: 10px;
}

.social {
  background: linear-gradient(120deg, #2e3191, #bb21ab);
}

footer .social-icon {
  padding-left: 100px;
  line-height: 30px;
}

.social-icon ul{
  list-style: none;
  display:flex;
}

.social-icon ul li a{
  margin:0 25px
}

.social-icon img{
  width: 25px;
  height:25px;
}

@media only screen and (max-width: 600px) {
  footer{
    margin-top:400px;
  }
  footer ul li,h3{
    padding: 5px 20px;
  }

  footer .social{
    width: 100%;
  }
}
